
<form action="/clientescontroller/insertclientescontroller" method="POST">

<h1>Cadastro de Cliente</h1>

<label for="id">id</label>
<input type="text" name="id"><br> <br>

<label for="cnpj">cnpj</label>
<input type="text" name="cnpj"><br> <br>

<label for="razão_social">razao_social</label>
<input type="text" name="razao_social"><br> <br>

<label for="nome_fantasia">nome_fantasia</label>
<input type="text" name="nome_fantasia"><br> <br>

<label for="telefone">telefone</label>
<input type="text" name="telefone"> <br>
<br>
<input type="submit" value="Enviar formulário" id="botão1" name="btn_enviar">
</form>

